.containerAlerter {
    display: block;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
    transition: transform .5s ease-in-out;
    padding: 20px;
}

.open {
    transform: translateY(0%);
}

.close {
    transform: translateY(-110%);
}

.error {
    color: #fff;
    background-color: #f44336;
}

.info {
    color: #fff;
    background-color: #2751FE;
}

.success {
    color: #fff;
    background-color: #2DCC11
}

.warning {
    background-color: #EBBE17
}